In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

ModuleNotFoundError: No module named 'tensorflow'

In [28]:
df = pd.read_csv("NFLX.csv")

In [29]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [30]:
# Extract the 'Close' column as the target variable
dataset = df[['Close']].values

In [31]:
# Scale the data between 0 and 1
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(dataset)

In [42]:
# Define the training and testing data sizes
train_size = int(len(scaled_data) * 0.8)
test_size = len(scaled_data) - train_size

In [43]:
# Split the data into training and testing sets
train_data = scaled_data[:train_size, :]
test_data = scaled_data[train_size:, :]

In [44]:
# Define a function to create the input sequences and corresponding labels
def create_sequences(data, seq_length):
    X, y = [], []
    for i in range(len(data) - seq_length):
        X.append(data[i:i + seq_length, 0])
        y.append(data[i + seq_length, 0])
    return np.array(X), np.array(y)

In [45]:
# Set the sequence length (number of previous time steps to consider)
sequence_length = 10

In [36]:
# Create the input sequences and labels for training and testing
X_train, y_train = create_sequences(train_data, sequence_length)
X_test, y_test = create_sequences(test_data, sequence_length)

In [37]:
# Reshape the input data to fit the LSTM input shape (samples, time steps, features)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))

In [38]:
# Build the LSTM model
model = Sequential()
model.add(LSTM(units=50, return_sequences=True, input_shape=(sequence_length, 1)))
model.add(LSTM(units=50))
model.add(Dense(units=1))

NameError: name 'Sequential' is not defined

In [39]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

NameError: name 'model' is not defined

In [40]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32)

NameError: name 'model' is not defined

In [41]:
# Generate predictions for the test data
predictions = model.predict(X_test)

NameError: name 'model' is not defined